



div {
  box-sizing: border-box;
}
.table-container {
  display: block;
  margin: 2em auto;
  width: 100%;
  max-width: 890px;
}

.flex-table {
  display: flex;
  flex-flow: row;
  border-left: solid 1px #d9d9d9;
  transition: 0.5s;
}
.flex-table:first-of-type {
  border-top: solid 1px #1565C0;
  border-left: solid 1px #1565C0;
}
.flex-table:first-of-type .flex-row {
  background: #1976D2;
  color: black;
  border-color: #1565C0;
}
.flex-table.row:nth-child(odd) .flex-row {
  background: white;
}
.flex-table:hover {
  background: #F5F5F5;
  transition: 500ms;
}
.flex-row {
  width: calc(100%/1);
  justify-items: center;
  text-align: center;
  padding: 0.5em 0.02em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.edit {
  display:  flex;
  align-items: center;
}


@media (max-width: 767px) {
  .flex-row {
    width: calc(100% / 1);
  }
  .flex-row.first {
    width: 100%;
  }
  .column {
    width: 100%;
  }
}
@media (max-width: 430px) {

  .table-container {
    overflow-x: scroll;
  }

  .header .flex-row {
    border-bottom: solid 1px;
  }
  .flex-row {
    width: 100%;
  }
  .flex-row.first {
    width: 100%;
    border-bottom: solid 1px #d9d9d9;
  }
  .column {
    width: 100%;
  }
  .column .flex-row {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-cell {
    width: 100%;
  }
}
